--no-private
--title=Toys
--markup=markdown
--markup-provider redcarpet
--main=README.md
./core-docs/toys/**/*.rb
./core-docs/toys-core.rb
./lib/toys/**/*.rb
./lib/toys.rb
-
README.md
LICENSE.md
CHANGELOG.md
docs/guide.md
