/**/.yardoc/
/**/.bundle/
!/toys-core/test-data/gems-cases/bundle-with-vendored-path/.bundle
/toys-core/test-data/gems-cases/bundle-with-vendored-path/vendor
!/toys-core/test/gems-cases/bundle-with-vendored-path/.bundle
/toys-core/test/gems-cases/bundle-with-vendored-path/vendor
/toys/core-docs
/*/doc/
/*/pkg/
/**/tmp/
Gemfile.lock
gems.locked
.gems.rb.lock
.DS_Store
