<% latest_url = "https://#{@settings.repo_owner}.github.io/#{@settings.repo_name}/#{@settings.all_component_settings.first.gh_pages_directory}/latest" %><!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=<%= latest_url %>">
  </head>
  <body>
    <p>
      <a href="<%= latest_url %>">Documentation for latest version</a>
    </p>
  </body>
  <script>
    window.location.replace("<%= latest_url %>");
  </script>
</html>
