name: "CI tests"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    if: ${{ github.repository == 'dazuma/toys' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "2.7"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "3.0"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "3.1"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "3.2"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "3.3"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "3.4"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "4.0"
            steps: "--test-all"
          - os: ubuntu-latest
            ruby: "jruby"
            steps: "--test-all --no-test-tools --no-test-release"
          - os: ubuntu-latest
            ruby: "truffleruby"
            steps: "--test-all --no-test-tools --no-test-release"
          - os: macos-latest
            ruby: "2.7"
            steps: "--test-all --no-test-tools --no-test-release"
          - os: macos-latest
            ruby: "4.0"
            steps: "--test-all --no-test-tools --no-test-release"
          - os: windows-latest
            ruby: "2.7"
            steps: "--test-all --no-test-tools --no-test-release"
          - os: windows-latest
            ruby: "4.0"
            steps: "--test-all --no-test-tools --no-test-release"
          - os: ubuntu-latest
            ruby: "4.0"
            steps: "--rubocop-all --yard-all --build-all"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: none
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run ${{ matrix.steps || '--test-all' }}
        shell: bash
        env:
          TOYS_TEST_INTEGRATION: "1"
          GH_TOKEN: ${{ github.token }}
        run: |
          unset JAVA_TOOL_OPTIONS
          ./toys-dev do ci init , ci --only ${{ matrix.steps }} < /dev/null
