name: Open release request

on:
  workflow_dispatch:
    inputs:
      names:
        description: Components to release (leave blank to release all components)
        required: false
        default: ""

permissions:
  contents: write # required for pushing changes
  pull-requests: write # required for creating release PRs

jobs:
  release-request:
    if: ${{ github.repository == 'dazuma/toys' }}
    env:
      ruby_version: "3.4"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.ruby_version }}
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install Toys
        run: "gem install --no-document toys"
      - name: Open release pull request
        env:
          GITHUB_TOKEN: ${{ secrets.TOYS_RELEASE_REQUEST_TOKEN || secrets.GITHUB_TOKEN }}
        run: |
          toys release request --yes --verbose \
            "--target-branch=${{ github.ref }}" \
            ${{ github.event.inputs.names }} \
            < /dev/null
